@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
body {
    background: black url("/assets/home/background-home-desktop.jpg") no-repeat;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}
.App {
    max-width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin: 0 30px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
}
/* testing some code  */
header .logo {
    width: 40px;
    height: 40px;
}
header .ham {
    display: none;
}
header .hr-div {
    width: 100%;
    border: none;
    flex-basis: 48%;
}
.hr-div hr {
    position: absolute;
    top:40px;
    left:60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 28%;
    z-index: 2;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
}
header ul li {
    position: relative;
    left: -40px;
    padding: 20px 0;
    margin:0 20px;
}
header ul li .a-tag {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 14px;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
header ul li .a-tag span {
    font-weight: 900;
    color: white;
    margin-right: 10px;
    display: inline-block;
}
header ul li:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5) ;
}
header ul .active, header ul .active:hover {
    border-bottom: 3px solid rgba(255, 255, 255) ;
}

/* Path: public/App.js */
@media screen and (max-width:768px){
    header{
        justify-content: center;
    }
    .hr-div hr {
        border: none;
    }
    header ul {
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: none;
        margin: 0;
    }
    header ul li {
        position: relative;
        left: -20px;
        padding: 30px 0;
        margin:0 18px;
    }
    header ul li .a-tag {
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 1.3px;
    }
    header ul li .a-tag span{
        display: none;
    }
}

@media screen and (max-width:426px) {
    header{
        justify-content: space-between;
        margin: 0px;
        width:96%;
    }
    header .logo {
        width: 40px;
        height: 40px;
        margin: 15px;
    }
    header ul {
        position: fixed;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        top: -20px;
        right: -100%;
        width: 60%;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.7742px);
        z-index: 5;
        transition: all 0.5s ease-in-out;
    }
    header .ham{
        background: url("/assets/icons/icon-hamburger.svg") no-repeat;
        width: 30px;
        height: 30px;
        display: block;
        margin-right:15px;
        z-index: 10;
        margin: 10px;
        transition: all 0.2s ease-in-out;
    }
    header .open {
        background: url("/assets/icons/icon-close.svg") no-repeat;
    }
    .nav-open {
        right:0;
    }
    .nav li {
        position: relative;
        top: -23%;
        margin: 0;
        padding: 10px;
        color: white;
    }
    header ul li .a-tag {
        font-weight: 300;
        font-size: 16px;
        line-height: 29px;
        letter-spacing: -0.3px;
    }
    header ul .active {
        border: none;
    }
    header ul li .a-tag span{
        display: inline-block;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes planetSlideLeft {
    0% {
        scale: 0;
        transform: translateX(100%) rotateZ(180deg);
    }
    100% {
        scale: 1;
        transform: translateX(0%) rotateZ(0deg);
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}